{%load static%}
<!DOCTYPE html>
<html lang="en">
{%include "head.html" %}

<body>
{%include "navbar.html" %}

		<header id="head" class="secondary">
            <div class="container">
                    <h1>Courses</h1>
                    <p>Standar course</p>
                </div>
    </header>


    <div class="container">
<h3>Courses</h3>
<p>This following course make our world better.
</p>
<br/>
<!-- start course -->
<ul class="list-unstyled video-list-thumbs row">
	<li class="col-lg-3 col-sm-4 col-xs-6">
		<a href="#" title="Computer Science and Engineering'%}">
			<img src="{%static 'college/images/computer.jpg'%}" alt="Barca" class="img-responsive" height="130px" />
			<h2>Computer Science and Engineering</h2>
			<span class="play-button"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
	<li class="col-lg-3 col-sm-4 col-xs-6">
		<a href="#" title="elecatronics and Telecommunication">
			<img src="{%static 'college/images/elecatronics.jpg'%}" alt="Barca" class="img-responsive" height="130px" />
			<h2>Electronics and Telecommunication</h2>
			<span class="play-button"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
	<li class="col-lg-3 col-sm-4 col-xs-6">
		<a href="#" title="Civil Engineering">
			<img src="{%static 'college/images/civil.jpg'%}" alt="Barca" class="img-responsive" height="130px" />
			<h2>Civil Engineering</h2>
			<span class="play-button"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
	<li class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
		<a href="#" title="Electrical Engineering">
			<img src="{%static 'college/images/electrical.jpg'%}" alt="Barca" class="img-responsive" height="130px" />
			<h2>Electrical Engineer</h2>
			<span class="play-button"></span>
			<span class="duration">03:15</span>
		</a>
	</li>
</ul>
<!-- end course -->
</div>

	<div id="courses">
		<section class="container">
			<h3>Computer Science subjects</h3>
			<div class="row">
				<div class="col-md-4">
					<div class="featured-box">
						<div class="text">
							<h3>Database</h3>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<div class="text">
							<h3>Networking</h3>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<div class="text">
							<h3>Web Designing</h3>
						</div>
					</div>
				</div>
			</div>

			</div>

		</section>
	</div>




{%include "footer.html" %}
</body>
</html>
