{%extends 'base.html' %}
{%load static%}
{%load index %}
{%block sidebar %}
    {%include 'side.html' %}
{%endblock %}

{%block content%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <style>
    body{
    background-color: #f6f6f6 !important;
    }
        .bg-white {
            background-color: #fff !important;
        }
    </style>
</head>

<div class="col-md-9 mx-auto">
    <div class="col-md-12  mt-3 ">
    <div>
        {%if request.user.is_teacher%}
        <h1 class="text-left font-weight-bolder mb-3 text-dark"><strong>View Questions</strong></h1>
        {%else%}
        <h1 class="text-left font-weight-bolder mb-3 text-dark"><strong>Take A Test</strong></h1>
        {%endif%}
    </div>
    <!--        bread crumb-->
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <h1 class="text-center font-weight-bolder text-secondary mb-5 mt-4">Continuous Assessment </h1>
        <hr>
        <div class="row ml-auto">
            <div class="col-md-1 ml-4"><form method="post">{%csrf_token%}<input type="number" name="semester" value="1" hidden><button type="submit" class="btn btn-secondary rounded " >Semester 1</button></form> </div>
            <div class="col-md-1 ml-4"><form method="post">{%csrf_token%}<input type="number" name="semester" value="2" hidden><button type="submit" class="btn btn-secondary rounded " >Semester 2</button></form> </div>
            <div class="col-md-1 ml-4"><form method="post">{%csrf_token%}<input type="number" name="semester" value="3" hidden><button type="submit" class="btn btn-secondary rounded " >Semester 3</button></form> </div>
            <div class="col-md-1 ml-4"><form method="post">{%csrf_token%}<input type="number" name="semester" value="4" hidden><button type="submit" class="btn btn-secondary rounded " >Semester 4</button></form> </div>
            <div class="col-md-1 ml-4"><form method="post">{%csrf_token%}<input type="number" name="semester" value="5" hidden><button type="submit" class="btn btn-secondary rounded " >Semester 5</button></form> </div>
            <div class="col-md-1 ml-4"><form method="post">{%csrf_token%}<input type="number" name="semester" value="6" hidden><button type="submit" class="btn btn-secondary rounded " >Semester 6</button></form> </div>
            <div class="col-md-1 ml-4"><form method="post">{%csrf_token%}<input type="number" name="semester" value="7" hidden><button type="submit" class="btn btn-secondary rounded " >Semester 7</button></form> </div>
            <div class="col-md-1 ml-4"><form method="post">{%csrf_token%}<input type="number" name="semester" value="8" hidden><button type="submit" class="btn btn-secondary rounded " >Semester 8</button></form> </div>
        </div>
    </div>


    {%for exam_detail in exam_details%}
        <div class="card mb-4">

            <div class="shadow-sm   rounded  col-md-12 ">
            <div class="row  pt-3 bg-white">
                <div class="col-md-1">
                    <img src="https://source.unsplash.com/50x50/?nature,water" class="mr-3 rounded-circle" alt="...">
                </div>
                <div class="col-md-5 ">
                    <p class="font-weight-bolder"> <strong> {{exam_detail.subject.name}} </strong></p>
                    <p>{{exam_detail.department}} <strong> {{exam_detail.subject.subject_code}}</strong> </p>
                </div>
                <div class="col-md-6">
                    <div class="row ">
                        <div class=" col-md-12 text-secondary "> <p class="text-left"> <strong>Total Time </strong></p></div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 text-danger text-left"> <p class="text-left "> 1 hour </p></div>
                    </div>


                </div>


            </div>
            <div class="row  mt-1">
                <div class="col-md-12">

                    <div class="row  border">
                        <div class="col-md-2 shadow-sm p-1  bg-white rounded mt-2 ml-1"><p class="ml-1 text-center"> <strong>Total Question </strong>  <br> <p class="text-center">{{exam_detail.total_question}} </p>  </p> </div>


                        <div class="col-md-2 shadow-sm p-1  bg-white rounded mt-2 ml-1"><p class="ml-1 text-center"> <strong>Total Marks </strong> <br> <p class="text-center">{{exam_detail.total_marks}}</p> </p></div>
                        <div class="col-md-1 shadow-sm p-1  bg-white rounded mt-2 ml-1"><p class="ml-1 text-center"> <strong>Duration </strong><br> 1:00:00 </p></div>
                        <div class="col-md-6 shadow-sm p-1  bg-white rounded mt-2 ml-auto form-check form-check-inline">
                            {%if request.user.is_teacher %}
                            <form method="post" action="{%url 'college:question' exam_detail.semester exam_detail.exam exam_detail.subject_id %}">
                                {%csrf_token%}
                                <input type="hidden" name="percentage" value="0">
                                <input type="hidden" name="count_value" value="0">
                                <button  class="btn btn-secondary  btn-circle ml-1" >View  CA{{exam_detail.exam}}</button>
                            </form>

                            {%else%}

                                <a href="{%url 'college:question_view' exam_detail.semester exam_detail.exam exam_detail.subject_id 1 %}" class="btn btn-secondary  btn-circle ml-1" >Start  CA{{exam_detail.exam}}</a>

                            {%endif%}
                        </div>
                </div>


                </div>



            </div>

        </div>
        </div>
    {%endfor%}
    </div>
    </div>
</div>



    <script>
    function semester(num) {

    }

    </script>

{%endblock%}







