{%load static%}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="free-educational-responsive-web-template-webEdu">
	<meta name="author" content="webThemez.com">
	<title>Pailan College of Management and Technology</title>
	<link rel="favicon" href="{%static 'college/images/favicon.png' %}">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{%static 'college/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{%static 'college/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{%static 'college/css/bootstrap-theme.css' %}" media="screen">
	<link rel="stylesheet" href="{%static 'college/css/style.css' %}">
  <link rel='stylesheet' id='camera-css'  href="{%static 'college/css/camera.css' %}" type='text/css' media='all'>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>