{%load static%}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="free-educational-responsive-web-template-webEdu">
    <link rel="favicon" href="{%static 'college/images/favicon.png' %}">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{%static 'college/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'college/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%static 'college/css/custome.css' %}">
    <link rel="stylesheet" href="{%static 'college/css/bootstrap-theme.css' %}" media="screen">

    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Pailan College of management and Technology</title>
    <style>


    </style>
</head>
<body>

<div class="bg-dark collapse" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">About</font></font>
                </h4>
                <p class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Add
                    some information about the below album, author, or other background context. </font><font
                        style="vertical-align: inherit;">Make it a few long sentences so that people can capture some
                    helpful anecdotes. </font><font style="vertical-align: inherit;">Then link it to some social media
                    or contact information.</font></font></p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">call</font></font>
                </h4>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Follow on Twitter</font></font></a></li>
                    <li><a href="#" class="text-white"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Like on Facebook</font></font></a></li>
                    <li><a href="#" class="text-white"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">message me</font></font></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark  shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
                 viewBox="0 0 24 24">
                <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                <circle cx="12" cy="13" r="4"></circle>
            </svg>
            <strong><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">About</font></font></strong>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Navigation toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div class="col-md-3"></div>
    <div class="col-md-1">
        <img alt="Pcmt logo" src="{%static 'college/images/pcmt.png' %}" width="100" height="100" class="rounded"/>
    </div>

    <div class="col-md-4">

        <h2 class="text-center my-5">
            Pailan College of Management and Technology
        </h2>

    </div>
    <div class="col-md-4 mb-5"></div>
    <div class="col-md-12 mb-5"></div>
    <div class="col-md-12 mb-5"></div>
</div>

</div>


<div class="album py-5 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                            </div>

                            <div class="col-md-5">

                            </div>
                        </div>


                        <div id="demo" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>

                            <!-- The slideshow -->

                            <link rel="stylesheet"
                                  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{%static 'college/images/slides/img1.jpg'%}" height="600" width="100%"
                                         alt="Los Angeles">
                                </div>
                                <div class="carousel-item">
                                    <img src="{%static 'college/images/slides/img2.jpg'%}" height="600" width="100%"
                                         alt="Chicago">
                                </div>
                                <div class="carousel-item">
                                    <img src="{%static 'college/images/slides/img3.jpg'%}" height="600" width="100%"
                                         alt="New York">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>

                        <h2 class="text-center p-2">
                            <!--                            Our Services-->
                        </h2>
                        {%include "head.html" %}
                        <div class="card col-md-12 ">
<!--exam , result, placement , Student Database-->
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="btn-secondary p-2 my-2 mt-3">
                                        <h1 class="text-center">
                                            Faculty and Staff
                                        </h1>
                                    </div>
<!--exam , result, placement , Student Database-->
                                    <div class="row mb-5 ">
                                        <!-- Student database-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/student_databse.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="{%url 'college:student_data_view'%}">Student Database</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->

                                        <!--  Examination-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/exam.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="{%url 'college:exam_information'%}"> Examination</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->
                                        <!-- Result-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/mark.svg'%}"
                                                         width="100" height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary" href="{%url 'college:view_reports'%}">Result</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->
                                        <!-- placementt-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/placement.svg'%}"
                                                         width="100" height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary" href="#">Placement</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->


                                    </div>

                                </div>
                            </div>
<!--  Notice, mis, reposts, teacher and Subjects                          -->
                            <div class="row">

                                <div class="col-md-12">

                                    <div class="row mb-5 ">
                                        <!-- New Student Registration-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/notice.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="#">Notice</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->

                                        <!--  Attendance-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/mis.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="#"> MIS </a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->
                                        <!-- Student Report-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/teacher.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary" href="{%url 'college:view_staff'%}">Teacher </a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/teacher.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary" href="{%url 'college:view_subjects'%}">Subjects</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->


                                    </div>

                                </div>
                            </div>

<!--  Fees payment, project ,Training and E-resouce                          -->
                            <div class="row">

                                <div class="col-md-12">

                                    <!--exam and result, placement , Student Database-->
                                    <div class="row mb-5 ">
                                        <!-- New Student Registration-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/fees.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="#">Fees Payment</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->

                                        <!--  Attendance-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/project.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="#">Project</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->
                                        <!-- Student Report-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/resource.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary" href="#">Training</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->
                                         <!-- Student Report-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/resource.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary" href="#">E-resource</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->


                                    </div>

                                </div>
                            </div>
<!--  admission, registration,attandance, and reports                         -->
                            <div class="row">

                                <div class="col-md-12">

                                    <!--exam and result, placement , Student Database-->
                                    <div class="row mb-5 ">
                                        <!-- Admission-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/brochure.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="{%url 'college:admission_data'%}">Admission</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->

                                        <!-- New Student Registration-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/addmission.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="{%url 'college:studentsRegistration'%}">Registration</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->
                                         <!-- New Student Registration-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/attendance.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="{%url 'college:attendance'%}">Attandance</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->
                                        <div class="col-md-3">
                                            <div class="grey-box-icon">
                                                <div class="icon-box-top grey-box-icon-pos">
                                                    <img src="{%static 'college/images/svg/mis.svg'%}" width="100"
                                                         height="100" alt=""/>
                                                </div><!--icon box top -->
                                                <h4></h4>
                                                <p></p>
                                                <p class="text-center">
                                                    <a class="btn btn-secondary"
                                                       href="#">Reports</a>
                                                </p>
                                            </div><!--grey box -->
                                        </div><!--/span3-->
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>


{%include "footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>


</body>
</html>