{% autoescape off %}
To initiate the password reset process for your {{ user.get_username }} Nalanda University Account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'college:password_reset_confirm' uidb64=uid token=token %}
<a href="{{ protocol }}://{{ domain }}{% url 'college:password_reset_confirm' uidb64=uid token=token %}"
   style="background:#3075BA;text-decoration:none !important; font-weight:500;
   margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 12px;display:inline-block;border-radius:3px;"
   > Reset Password </a>
If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
The Nalanda University Team
{% endautoescape %}