{%extends 'base.html' %}
{%load static%}
{%block sidebar %}
{%include 'side.html' %}
{%endblock %}

{%block content%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <style>
    body{
    background-color: #f6f6f6 !important;
    }
        .bg-white {
            background-color: #fff !important;
        }


    </style>
</head>


<div class="col-md-9 mx-auto">
    <div class="col-md-12  mt-3">
    <h3 class="text-left font-weight-bolder mb-3 text-dark"><strong>{{subject.department}}</strong></h3>
    <!--        bread crumb-->
    <div class="shadow-sm p-3 mb-3 bg-white rounded">
        <h3 class="text-center font-weight-bolder text-secondary">Semester <strong class=" text-danger">{{semester}}</strong>  Continuous assessment <strong class=" text-danger">{{ca}}</strong> </h3>
        <br> <h4 class="text-center font-weight-bolder text-secondary"><strong class=" text-danger">Subject :</strong> {{subject.name}} ({{subject.subject_code}})</h4>
    </div>
    <div class="card">
        <div class="col-md-12 m-2">
            <div class="row">
                <p class="text-left "><strong class=" text-danger">Directions: </strong> Attain all Questions</p>
                <div class="row ml-auto mr-5">
            <div class="col-md-4">
                <form method="post">{%csrf_token%}<input type="number" name="reset" value="1" hidden>
                    <button type="submit" class="btn btn-secondary rounded btn-lg" >Reset Test</button>
                </form>
            </div>

            <div class=" ml-5 col-md-4">
                <form method="post">{%csrf_token%}<input type="number" name="allow" value="1" hidden>
                    <button type="submit" class="btn btn-secondary rounded btn-lg" >Allow Test</button>
                </form>
            </div>
                </div>
            </div>
            {%for question in questions%}
            <div class="card mt-2 ">
                <div class="row ml-3">
                    <p class="text-center"><strong> {{question.question_no}}. </strong> {{question.question_text}}</p>
                </div>
                <!--  choices-->
                {%if question.correct == 1%}
                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio1" id="blankRadio"
                                   value="option1" aria-label="..."  >
                        </div>
                        <p class="text-center text-danger"><strong style="font-size: 18px;">{{question.choice_text1}}</strong></p>
                    </div>

                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio2" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center">{{question.choice_text2}}</p>
                    </div>
                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio3" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center">{{question.choice_text3}}</p>
                    </div>

                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio4" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center">{{question.choice_text4}}</p>
                    </div>
                {% elif question.correct == 2 %}
                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio5" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center ">{{question.choice_text1}}</p>
                    </div>

                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio6" id="blankRadio1"
                                   value="option1" aria-label="..."  >
                        </div>
                        <p class="text-center text-danger"><strong style="font-size: 18px;">{{question.choice_text2}}</strong></p>
                    </div>
                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio7" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center">{{question.choice_text3}}</p>
                    </div>

                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio8" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center">{{question.choice_text4}}</p>
                    </div>
                {% elif question.correct == 3 %}
                    <div class="row ml-3" >
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio9" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center ">{{question.choice_text1}}</p>
                    </div>

                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio10" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center text">{{question.choice_text2}}</p>
                    </div>
                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio11" id="blankRadio1"
                                   value="option1" aria-label="..."  >
                        </div>
                        <p class="text-center text-danger"><strong style="font-size: 18px;">{{question.choice_text3}}</strong></p>
                    </div>

                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio12" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center">{{question.choice_text4}}</p>
                    </div>
                {% elif question.correct == 4 %}
                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio13" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center ">{{question.choice_text1}}</p>
                    </div>

                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio14" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center ">{{question.choice_text2}}</p>
                    </div>
                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio15" id="blankRadio1"
                                   value="option1" aria-label="...">
                        </div>
                        <p class="text-center">{{question.choice_text3}}</p>
                    </div>

                    <div class="row ml-3">
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio16" id="blankRadio1"
                                   value="option1" aria-label="..."  >
                        </div>
                        <p class="text-center text-danger"><strong style="font-size: 18px;">{{question.choice_text4}}</strong></p>
                    </div>
                {%endif%}


            </div>
            {%endfor%}
            <!-- choices-->

        </div>

    </div>

</div>
</div>
</div>

{%endblock%}








